<div id="forgot-password-container">
    <h2>Trouble Logging In?</h2>
    <span>Enter your email and we'll send you a link to get back into your account</span>
    <form class="form-style" action="/users/reset-req" method="POST">
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="submit" value="Send Email">
    </form>
</div>